 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'show_all_profiles' %}">Mini Facebook</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>
            </ul>
        </nav>
    </header>
    {% if profile %}
    <p>
        <a href="{% url 'news_feed' pk=profile.pk %}">News Feed</a>
    </p>
{% endif %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2024 Mini Facebook</p>
    </footer>
</body>
</html>
