{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Friend Suggestions</h2>

{% if friend_suggestions %}
    <ul>
        {% for suggestion in friend_suggestions %}
            <li>
                {{ suggestion.first_name }} {{ suggestion.last_name }}
                <a href="{% url 'add_friend' pk=profile.pk other_pk=suggestion.pk %}">Add Friend</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Friend Suggestions</p>
{% endif %}

<p>
    <a href="{% url 'show_profile' pk=profile.pk %}">Profile</a>
</p>
{% endblock %}