<!-- show_profile.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
<img src="{{ profile.pfp_url }}" width="600" height="600">
<table>
    <tr>
        <th>First Name:</th>
        <td>{{ profile.first_name }}</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>{{ profile.last_name }}</td>
    </tr>
    <tr>
        <th>City:</th>
        <td>{{ profile.city }}</td>
    </tr>
</table>

<h3>Your Status Messages</h3>
<ul>
    {% for status in profile.get_status_messages %}
    <li>
        <bold>{{ status.timestamp|date:"SHORT_DATETIME_FORMAT" }}</bold>: {{ status.message }}
    </li>
    {% empty %}
    <li>None</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'create_status' profile.pk %}">Create Status</a>
</p>
{% endblock %}
