<!-- show_profile.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
    <p><a href="{% url 'update_profile' pk=profile.pk %}">Update Profile</a></p>
<img src="{{ profile.pfp_url }}" width="600" height="600">
<table>
    <tr>
        <th>First Name:</th>
        <td>{{ profile.first_name }}</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>{{ profile.last_name }}</td>
    </tr>
    <tr>
        <th>City:</th>
        <td>{{ profile.city }}</td>
    </tr>
</table>

<h3>Friends</h3>
{% if profile.get_friends %}
    <ul>
        {% for friend in profile.get_friends %}
            <li>
                <a href="{% url 'show_profile' pk=friend.pk %}">
                    {{ friend.first_name }} {{ friend.last_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No friends</p>
{% endif %}

<h3>Your Status Messages</h3>
<ul>
    {% for status in profile.get_status_messages %}
    <li>
        <bold>{{ status.timestamp|date:"SHORT_DATETIME_FORMAT" }}</bold>: {{ status.message }}
        {% for img in status.get_images %}
            <div>
                <img src="{{ img.image_file.url }}" width="200">
            </div>
            {% endfor %}
        <p>
            <a href="{% url 'delete_status' pk=status.pk %}">Delete</a>
        </p>
    </li>
    {% empty %}
    <li>None</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'create_status' profile.pk %}">Create Status</a>
</p>
<p>
    <a href="{% url 'friend_suggestions' pk=profile.pk %}">See Friend Suggestions</a>
</p>

{% endblock %}
