{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>All Profiles</h2>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Profile Image</th>
    </tr>
    {% for profile in profiles %}
    <tr>
        <td>{{ profile.first_name }}</td>
        <td>{{ profile.last_name }}</td>
        <td>{{ profile.city }}</td>
        <td>
            <img src="{{ profile.profile_image_url }}" alt="{{ profile.first_name }}'s profile picture" width="100" height="100">
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
