{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Update Profile</h2>

<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th><label for="id_city">City:</label></th>
            <td>{{ form.city }}</td>
        </tr>
        <tr>
            <th><label for="id_email_address">Email:</label></th>
            <td>{{ form.email_address }}</td>
        </tr>
        <tr>
            <th><label for="id_pfp_url">Profile Photo:</label></th>
            <td>{{ form.pfp_url }}</td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
{% endblock %}